<% provide(:title, @user.name) %>
                      <!-- content -->                      
                        <div class="row">
                          
                         <!-- main col left --> 
                         <div class="col-sm-4 no-padding">
                           
                              <div class="panel panel-default">
                                <div class="panel-thumbnail"><img src="<%= facebook.get_picture(@user.uid,:type => "square", height: 370 , width: 370) %>" class="img-responsive"></div>
                                <div class="panel-body">
                                  <p class="lead"><%= @user.name %></p>
                                  <p>45 Followers, 13 Posts</p>
                                  
                                  <p>
                                    <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px">
                                  </p>
                                </div>
                              </div>
                          
                          </div>
                          <div class="col-sm-1">
                            
                          </div>
                          <!-- main col right -->
                          <div class="col-sm-7 no-padding">
                               

                      
                               <div class="panel panel-default">
                                 <div class="panel-heading"><h4>Places</h4></div>
                                  <div id="places_block" class="panel-body">
                                  <%= render partial: "users/places", :locals => {:user => @user} %>
                                  </div>
                               </div>
               
                            
                          </div>
                       </div>
          <!--/row-->

